body {
  position: relative;
  font-size: 1.8em;
  height: 100%;
  color: rgb(51,51,51);
}

ul.list-none {
  list-style: none;
}

#title {
  margin: 20px;
  padding-top: 100px;
  min-height: 600px;
  background-image: url(images/logo.png);
  background-position: 0px 0px, top left;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100px;
  text-align: center;
}

#title h1 {
  font-size: 4em;
}

#title p {
  font-size: 2em;
}

section {
  position: relative;
  padding: 20px 0;
  min-height: 800px;
  display: flex;
  align-items: center;
}

section > .container {
  padding: 40px;
}

section h1 {
  font-size: 3em;
}

section h2: {
  font-size: 2.5em;
}

section h3: {
  font-size: 2.2em;
}

section.img {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

section.img > div {
  border-radius: 5px;
  background-color: rgba(255,255,255,0.9);
}

#img-columns {
  background-image: url(images/Columns_1920.jpg);
}

#img-creativity {
  background-image: url(images/Creativity_1920.jpg);
}
#img-truman {
  background-image: url(images/Truman_1920.jpg);
  background-position: top;
}

.inverse {
  background-color: rgb(51,51,51);
  color: rgb(220,220,220);
}

.footer {
  bottom: 0;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
}

.footer a:link {
  color: #886000;
}

.footer a:visited {
  color: #886060;
}

.footer a:hover {
  color: #BB9000;
}

.footer a:active {
  color: #998000;
}