<template name='appLayout'>
  {{> yield}}
  <footer class='footer inverse'>
    <div class='container'>
      <p>&copy; University of Missouri</p>
      <p><a href='mailto:mu-tse@outlook.com'><span class='glyphicon glyphicon-envelope'></span> mu-tse@outlook.com</a></p>
      <p><a href='https://twitter.com/mizzou_tse' target='_blank'>@mizzou-tse</a></p>
      <p><a href="https://plus.google.com/109574134107907576101" rel="publisher" target='_blank'>+TSE</a></p>
      <p><a href="https://plus.google.com/b/109574134107907576101/communities/112247563268739710058" target='_blank'>+TSE Community</a></p>
    </div>
  </footer>
</template>