<template name="eventSignin">
  <section id='img-truman' class='img container-fluid'>
    <div class='container'>
      <form id='member-signin'>
        <div class='row'>
          <div class='col-sm-4'>
            <div class='form-group'>
              <label for='first_name'>First Name</label>
              <input id='first_name' class='form-control' type='text' name='first_name' required=true>
            </div>
          </div>
          <div class='col-sm-4'>
            <div class='form-group'>
              <label for='last_name'>Last Name</label>
              <input id='last_name' class='form-control' type='text' name='last_name' required=true>
            </div>
          </div>
          <div class='col-sm-4'>
            <div class='form-group'>
              <label for='pawprint'>MU Pawprint</label>
              <input id='pawprint' class='form-control' type='text' name='pawprint' required=true>
            </div>
          </div>
        </div>
        <button type='submit' class='btn btn-default'>Sign In</button>
      </form>
    </div>
  </section>
</template>