<template name='index'>
  <section id='title'>
    <div class='container'>
      <h1>Tech Startup Evangelists</h1>
      <p>University of Missouri</p>
    </div>
  </section>
  <section id='img-columns' class='img container-fluid'>
    <div class='container'>
      <h1>Mission Statement</h1>
      <div>
        The purpose of the TSE shall be to help foster a startup mentality among software-centric majors at the University of Missouri. The TSE shall:
        <ul>
          <li>Promote collaboration among students</li>
          <li>Provide counsel and direction to new student-led startups</li>
          <li>Connect student-led startups with potential outside investors/investment</li>
        </ul>
      </div>
    </div>
  </section>
  <section class='container-fluid'>
    <div class='container'>
      <h1>Organization Principles</h1>
      <div>
        The purpose of the TSE shall be to help foster a startup mentality among software-centric majors at the University of Missouri. The TSE shall:
        <ul>
          <li>Promote collaboration among students</li>
          <li>Provide counsel and direction to new student-led startups</li>
          <li>Connect student-led startups with potential outside investors/investment</li>
        </ul>
      </div>
    </div>
  </section>
  <section id='img-creativity' class='img container-fluid'>
    <div class='container'>
      <h1>Leadership</h1>
      <div>
        <ul>
          <li><strong>CEO</strong> - Sean Lander, Informatics, PhD Candidate</li>
          <li><strong>President</strong> - Mike Phinney, Computer Science, PhD Candidate</li>
          <li><strong>CFO</strong> - Devin Petersohn, Computer Science, Junior</li>
          <li><strong>CIO</strong> - Hongfei Cao, Computer Science, PhD Candidate</li>
          <li><strong>COO</strong> - Benjamin Merideth, Informatics, PhD Candidate</li>
          <li><strong>CMO</strong> - Open Position</li>
          <hr>
          <li><strong>Advisor</strong> - Chi-Ren Shyu, Computer Science, Informatics, Electrical and Computer Engineering...</li>
        </ul>
      </div>
    </div>
  </section>
</template>