<template name='signinLayout'>
  <section id='title' class='container-fluid'>
    <div class='container'>
      <h1>Tech Startup Evangelists</h1>
      <div>University of Missouri</div>
    </div>
  </section>
  {{> yield}}
  <footer class='footer inverse'>
    <div class='container'>
      <p>&copy; University of Missouri</p>
      <p><a href='mailto:mu-tse@outlook.com'><span class='glyphicon glyphicon-envelope'></span> mu-tse@outlook.com</a></p>
      <p><a href='https://twitter.com/mizzou_tse' target='_blank'>@mizzou-tse</a></p>
    </div>
  </footer>
</template>